header {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(250, 248, 248);
}

#header-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#header-logo > img, nav > img {
    width: 3rem;
}

nav > img {
    cursor: pointer;
}

#header-logo > div {
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#settings {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

#settings > img {
    width: 2.5rem;
}