#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#login {
    width: 27.5rem;
    height: 24rem;
    border: 1px solid rgb(218, 214, 214);
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
}

#logo-text {
    font-size: 2rem;
    font-weight: 700;
}

#logo {
    width: 5.5rem;
    padding-bottom: 1rem;
}

#login > input {
    width: 75%;
    height: 1.75rem;
}

#create-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}