#create-post-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

#post-box {
    width: 40rem;
    height: 50rem;
    border: 1px solid rgb(186, 184, 184);
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    cursor: pointer;
    gap: 2.5rem;
}

#upload-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgb(218, 217, 221);
    height: 30rem;
    width: 100%;
}

.inactive {
    border: 3px dashed rgb(218, 217, 221);
    border-radius: 30px;
}

#preview {
    max-width: 100%;
    max-height: 25rem;
}

#post-text {
    width: 100%;
    height: 12.5rem;
    resize: none;
    border: 1px solid rgb(236, 232, 232);
    box-shadow: 0px 0px 2px 1px rgb(243, 240, 240);
}