#account-settings-container {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

#account-settings {
    width: 37.5rem;
    height: 22.5rem;
    border: 1px solid rgb(186, 184, 184);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: space-between;
    border-radius: 10px;
}

#pfp {
    max-height: 8.5rem;
    max-width: 8.5rem;
    cursor: pointer;
}

#pfp:hover {
    opacity: .50;
}

#settings-container {
    display: flex;
    justify-content: space-between;
}

#settings-container > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

#pfp-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

#update-container {
    display: flex;
    justify-content: center;
}

#update {
    width: max-content
}